extend layout
include mixins/_storeCard
block content
  .inner
    if (ptag) 
      h2 #{title} (#{ptag})
    else
      h2 #{title}
    pre=h.dump(tags)
    ul.tags
      //- each t in tags
      //-   li.tag
      //-     a.tag__link(href=`/tags/${t._id}` class=(t._id===ptag ? 'tag__link--active' : '')) 
      //-       span.tag__text #{t._id}
      //-       span.tag__count= t.count
    .stores
      each s in stores
        +storeCard(s)
    

        