mixin storeForm(store={})
  //- p storeForm mixin works! (foo=#{store.foo})
  //- form(action="/add" method="POST" enctype="multipart/form-data" class="card")
  //- form(action="/add" method="POST" class="card")
  form(action=`/add/${store._id || ''}` method="POST" class="card")
    label(for="name") Name:
    input(type="text" name="name" value=store.name)
    label(for="desc") Description:
    textarea(name="desc")=store.desc
    - const choices = ['Wifi','Open Late','Family Friendly','Vegatarian','Licensed']
    - const tags = store.tags || []
    ul.tags
      each c in choices
        .tag.tag__choice
          input(type="checkbox" name="tags" id=c value=c checked=(tags.includes(c)))
          label(for=c) #{c}
    input(type="submit" value="Save" class="button")